*{padding: 0px;margin: 0px;font-style: normal;list-style-type: none;text-decoration: none;font-family: "微软雅黑";font-size: 14px;border:0 none;line-height: 24px;color: #666; }
	table{table-layout: fixed;width: 100%;}
	input,button,select,textarea{outline: none;resize:none;padding: 3px 5px;border:1px solid #ddd;}
	input:focus,textarea:focus{border:1px solid #9ab6d6;}
	.whiteBg{background: #fff;}
	.normTbe{border-left:1px solid #ddd;border-top:1px solid #ddd; }
	.normTbe td,.normTbe th{border-bottom: 1px solid #ddd;border-right:1px solid #ddd;padding: 15px;text-align: center;}
	.normTbe input{width: 80%;text-align: center;}
	.wrapper{width: 1140px;padding: 0 20px; margin: 0 auto;clear: both;}
	.hide{display: none;}
	.hideTr{background: #ddd;}
	.pop_box{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 99999;}
	.pop_box .bg{background: #000;opacity: 0.7;filter:alpha(opacity=70);position: absolute;top:0;left: 0;right: 0;bottom: 0;}
	.pop_box .contentP{position: relative;margin:0 auto;margin-top: 10%; background: #fff;width: 80%;}
	.pop_box .PTit{height: 45px;background: #eee;}
	.pop_box .PTit h3{line-height: 45px;float: left;padding-left: 15px;font-weight: normal;font-size: 16px;}
	.pop_box .PTit a{display: block;width: 45px;line-height: 45px;text-align: center;background: #ddd;float: right;font-size: 20px;}
	.pop_box .PTit a:hover{background: #50abfd;color: #fff;}
	.pop_box .textmian{padding: 15px;}
	.btn_a1{padding-top: 15px;}
	.btn_a1 a{display: inline-block;*display: inline;*zoom: 1;width: 120px;line-height: 45px;background: #50abfd;color: #fff;}
	.btn_a1 .addtr2,.btn_a1 .dtadd{background: #ff9900;}